body.article {
  .menubar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    font-size: 18px;
    font-weight: 300;
    border-bottom: solid 1px var(--light);
    background-color: var(--white);

    a {
      margin-right: 10px;
      color: var(--black);
      text-decoration: none;

      &:hover {
        font-weight: 500;
      }
    }
  }

  .contentAreaWrapper {
    position: relative;
    width: 996px;
    padding-top: 142px;
    margin: 0 auto;

    .sidebar {
      position: fixed;
      width: 240px;
      font-size: 18px;

      a {
        display: block;
        margin-bottom: 20px;
        color: var(--middle);
        text-decoration: none;

        &:hover {
          font-weight: 500;
          color: var(--black);
        }
      }
    }

    article {
      width: 744px;
      margin-left: 252px;

      h1,
      h2,
      h3 {
        margin-top: 60px;
        line-height: 120%;
      }

      h1 {
        font-size: 40px;
        font-weight: bold;
      }

      h2 {
        font-size: 40px;
        font-weight: bold;
      }

      h3 {
        font-size: 30px;
        font-weight: 500;
      }

      h2 + h3 {
        margin-top: 40px;
      }

      h1 + p,
      h2 + p,
      h3 + p {
        margin-top: 20px;
      }

      p {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 300;
        line-height: 160%;
      }

      img + p {
        margin-top: 40px;
      }

      img {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
      }

      .links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 60px;

        a {
          display: block;
          width: 365px;
          height: 104px;
          background-color: #e5e5e5;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 10px;
        }

        .figma {
          background-image: url('images/figma-logo.svg');
        }

        .github {
          background-image: url('images/github-logo.svg');
        }
      }

      .suggest {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;

        a {
          display: block;
          width: 365px;
          text-decoration: none;
          color: var(--black);

          h4 {
            margin-top: 12px;
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;
          }

          p {
            margin-top: 6px;
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            color: var(--dark);
          }
        }
      }
    }
  }
}
