.articleCover,
.suggestCover,
.teaserCover {
  background-size: cover;
  border: 0.5px solid #dedede;
  border-radius: 10px;
}

.articleCover {
  width: 744px;
  height: 386px;

  &.A_Chip {
    background-image: url('images/atoms/A_Chip/A_Chip-article-cover-desktop.png');
  }
  &.A_Button {
    background-image: url('images/atoms/A_Button/A_Button-article-cover-desktop.png');
  }
  &.A_TextButton {
    background-image: url('images/atoms/A_TextButton/A_TextButton-article-cover-desktop.png');
  }
  &.UDF {
    background-image: url('images/general/UDF/UDF-article-cover-desktop.png');
  }
  &.O_Select {
    background-image: url('images/organism/O_Select/O_Select-article-cover-desktop.png');
  }
  &.O_SelectInput {
    background-image: url('images/organism/O_SelectInput/O_SelectInput-article-cover-desktop.png');
  }
  &.O_MultiselectInput {
    background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-article-cover-desktop.png');
  }
  &.A_Input {
    background-image: url('images/atoms/A_Input/A_Input-article-cover-desktop.png');
  }
  &.A_OptionItem {
    background-image: url('images/atoms/A_OptionItem/A_OptionItem-article-cover-desktop.png');
  }
  &.A_MenuItem {
    background-image: url('images/atoms/A_MenuItem/A_MenuItem-article-cover-desktop.png');
  }
  &.O_Menu {
    background-image: url('images/organism/O_Menu/O_Menu-article-cover-desktop.png');
  }

  @media (max-width: 768px) {
    width: 578px;
    height: 300px;
  }
  @media (max-width: 578px) {
    width: 374px;
    height: 235px;

    &.A_Chip {
      background-image: url('images/atoms/A_Chip/A_Chip-article-cover-mobile.png');
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .articleCover {
    &.A_Chip {
      background-image: url('images/atoms/A_Chip/A_Chip-article-cover-desktop@2x.png');
    }
    &.A_Button {
      background-image: url('images/atoms/A_Button/A_Button-article-cover-desktop@2x.png');
    }
    &.A_TextButton {
      background-image: url('images/atoms/A_TextButton/A_TextButton-article-cover-desktop@2x.png');
    }
    &.UDF {
      background-image: url('images/general/UDF/UDF-article-cover-desktop@2x.png');
    }
    &.O_Select {
      background-image: url('images/organism/O_Select/O_Select-article-cover-desktop@2x.png');
    }
    &.O_SelectInput {
      background-image: url('images/organism/O_SelectInput/O_SelectInput-article-cover-desktop@2x.png');
    }
    &.O_MultiselectInput {
      background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-article-cover-desktop@2x.png');
    }
    &.A_Input {
      background-image: url('images/atoms/A_Input/A_Input-article-cover-desktop@2x.png');
    }
    &.A_OptionItem {
      background-image: url('images/atoms/A_OptionItem/A_OptionItem-article-cover-desktop@2x.png');
    }
    &.A_MenuItem {
      background-image: url('images/atoms/A_MenuItem/A_MenuItem-article-cover-desktop@2x.png');
    }
    &.O_Menu {
      background-image: url('images/organism/O_Menu/O_Menu-article-cover-desktop@2x.png');
    }

    @media (max-width: 768px) {
      width: 578px;
      height: 300px;
    }
    @media (max-width: 578px) {
      width: 374px;
      height: 235px;

      &.A_Chip {
        background-image: url('images/atoms/A_Chip/A_Chip-article-cover-mobile@2x.png');
      }
    }
  }
}

.suggestCover {
  width: 366px;
  height: 223px;

  &.Q_Icon {
    background-image: url('images/quark/Q_Icon/Q_Icon-suggest-cover-desktop.png');
  }
  &.O_MultiselectInput {
    background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-suggest-cover-desktop.png');
  }
  &.S_SingIn {
    background-image: url('images/superorganism/S_SingIn/S_SingIn-suggest-cover-desktop.png');
  }
  &.S_ModalAlert {
    background-image: url('images/superorganism/S_ModalAlert/S_ModalAlert-suggest-cover-desktop.png');
  }
  &.A_Chip {
    background-image: url('images/atoms/A_Chip/A_Chip-suggest-cover-desktop.png');
  }
  &.O_Menu {
    background-image: url('images/organism/O_Menu/O_Menu-suggest-cover-desktop.png');
  }
  &.O_Select {
    background-image: url('images/organism/O_Select/O_Select-suggest-cover-desktop.png');
  }
  &.A_OptionItem {
    background-image: url('images/atoms/A_OptionItem/A_OptionItem-suggest-cover-desktop.png');
  }
  &.A_Input {
    background-image: url('images/atoms/A_Input/A_Input-suggest-cover-desktop.png');
  }
  &.A_MenuItem {
    background-image: url('images/atoms/A_MenuItem/A_MenuItem-suggest-cover-desktop.png');
  }

  @media (max-width: 768px) {
    width: 280px;
    height: 170px;

    &.A_Chip {
      background-image: url('images/atoms/A_Chip/A_Chip-suggest-cover-mobile.png');
    }
    &.S_SingIn {
      background-image: url('images/superorganism/S_SingIn/S_SingIn-suggest-cover-mobile.png');
    }
    &.O_MultiselectInput {
      background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-suggest-cover-mobile.png');
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .suggestCover {
    &.Q_Icon {
      background-image: url('images/quark/Q_Icon/Q_Icon-suggest-cover-desktop@2x.png');
    }
    &.O_MultiselectInput {
      background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-suggest-cover-desktop@2x.png');
    }
    &.S_SingIn {
      background-image: url('images/superorganism/S_SingIn/S_SingIn-suggest-cover-desktop@2x.png');
    }
    &.S_ModalAlert {
      background-image: url('images/superorganism/S_ModalAlert/S_ModalAlert-suggest-cover-desktop@2x.png');
    }
    &.A_Chip {
      background-image: url('images/atoms/A_Chip/A_Chip-suggest-cover-desktop@2x.png');
    }
    &.O_Menu {
      background-image: url('images/organism/O_Menu/O_Menu-suggest-cover-desktop@2x.png');
    }
    &.O_Select {
      background-image: url('images/organism/O_Select/O_Select-suggest-cover-desktop@2x.png');
    }
    &.A_OptionItem {
      background-image: url('images/atoms/A_OptionItem/A_OptionItem-suggest-cover-desktop@2x.png');
    }
    &.A_Input {
      background-image: url('images/atoms/A_Input/A_Input-suggest-cover-desktop@2x.png');
    }
    &.A_MenuItem {
      background-image: url('images/atoms/A_MenuItem/A_MenuItem-suggest-cover-desktop@2x.png');
    }

    @media (max-width: 768px) {
      width: 280px;
      height: 170px;

      &.A_Chip {
        background-image: url('images/atoms/A_Chip/A_Chip-suggest-cover-mobile@2x.png');
      }
      &.S_SingIn {
        background-image: url('images/superorganism/S_SingIn/S_SingIn-suggest-cover-mobile@2x.png');
      }
      &.O_MultiselectInput {
        background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-suggest-cover-mobile@2x.png');
      }
    }
  }
}

.teaserCover {
  width: 744px;
  height: 386px;

  &.UDF {
    background-image: url('images/general/UDF/UDF-teaser-cover.png');
  }
  &.Scroll {
    background-image: url('images/general/Scroll/Scroll-teaser-cover.png');
  }
  &.S_ModalAlert {
    background-image: url('images/superorganism/S_ModalAlert/S_ModalAlert-teaser-cover.png');
  }
  &.S_SingIn {
    background-image: url('images/superorganism/S_SingIn/S_SingIn-teaser-cover.png');
  }
  &.O_Slider {
    background-image: url('images/organism/O_Slider/O_Slider-teaser-cover.png');
  }
  &.O_Select {
    background-image: url('images/organism/O_Select/O_Select-teaser-cover.png');
  }
  &.O_MultiselectInput {
    background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-teaser-cover.png');
  }
  &.O_Menu {
    background-image: url('images/organism/O_Menu/O_Menu-teaser-cover.png');
  }
  &.A_Input {
    background-image: url('images/atoms/A_Input/A_Input-teaser-cover.png');
  }
  &.A_Chip {
    background-image: url('images/atoms/A_Chip/A_Chip-teaser-cover.png');
  }
  &.A_Button {
    background-image: url('images/atoms/A_Button/A_Button-teaser-cover.png');
  }
  &.O_SelectInput {
    background-image: url('images/organism/O_SelectInput/O_SelectInput-teaser-cover.png');
  }
  &.A_OptionItem {
    background-image: url('images/atoms/A_OptionItem/A_OptionItem-teaser-cover.png');
  }
  &.A_MenuItem {
    background-image: url('images/atoms/A_MenuItem/A_MenuItem-teaser-cover.png');
  }
  &.Process {
    background-image: url('images/general/Process/Process-teaser-cover.png');
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .teaserCover {
    &.UDF {
      background-image: url('images/general/UDF/UDF-teaser-cover@2x.png');
    }
    &.Scroll {
      background-image: url('images/general/Scroll/Scroll-teaser-cover@2x.png');
    }
    &.S_ModalAlert {
      background-image: url('images/superorganism/S_ModalAlert/S_ModalAlert-teaser-cover@2x.png');
    }
    &.S_SingIn {
      background-image: url('images/superorganism/S_SingIn/S_SingIn-teaser-cover@2x.png');
    }
    &.O_Slider {
      background-image: url('images/organism/O_Slider/O_Slider-teaser-cover@2x.png');
    }
    &.O_Select {
      background-image: url('images/organism/O_Select/O_Select-teaser-cover@2x.png');
    }
    &.O_MultiselectInput {
      background-image: url('images/organism/O_MultiselectInput/O_MultiselectInput-teaser-cover@2x.png');
    }
    &.O_Menu {
      background-image: url('images/organism/O_Menu/O_Menu-teaser-cover@2x.png');
    }
    &.A_Input {
      background-image: url('images/atoms/A_Input/A_Input-teaser-cover@2x.png');
    }
    &.A_Chip {
      background-image: url('images/atoms/A_Chip/A_Chip-teaser-cover@2x.png');
    }
    &.A_Button {
      background-image: url('images/atoms/A_Button/A_Button-teaser-cover@2x.png');
    }
    &.O_SelectInput {
      background-image: url('images/organism/O_SelectInput/O_SelectInput-teaser-cover@2x.png');
    }
    &.A_OptionItem {
      background-image: url('images/atoms/A_OptionItem/A_OptionItem-teaser-cover@2x.png');
    }
    &.A_MenuItem {
      background-image: url('images/atoms/A_MenuItem/A_MenuItem-teaser-cover@2x.png');
    }
    &.Process {
      background-image: url('images/general/Process/Process-teaser-cover@2x.png');
    }
  }
}

// @media only screen and (-webkit-min-device-pixel-ratio: 3),
//   only screen and (min--moz-device-pixel-ratio: 3),
//   only screen and (-o-min-device-pixel-ratio: 3/1),
//   only screen and (min-device-pixel-ratio: 3) {
//   .articleCover {
//     &.A_Chip {
//       background-image: url('images/atoms/A_Chip/A_Chip-article-cover-mobile@3x.png');
//     }
//   }
// }
