body.main {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
    width: 600px;
    line-height: 110%;
  }

  p {
    font-size: 24px;
    color: var(--black);
    line-height: 150%;
  }

  h1 + p {
    margin-top: 20px;
  }
  p + h1 {
    margin-top: 60px;
  }

  p + p {
    margin-top: 20px;
  }

  p + a {
    margin-top: 20px;
  }

  .nav_1,
  .nav_2,
  .nav_3,
  .nav_4 {
    position: absolute;
  }

  .information_bbe,
  .information_isolation,
  .information_udf,
  .skroll,
  .slider,
  .menuburger,
  .select {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
  }

  .text_information {
    width: 600px;
    z-index: 2;
  }

  .principles_image_content {
    margin-top: -110px;
  }

  .button_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background: #ff0aa9;
    border-radius: 26px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    width: 259px;
  }

  .blur_1,
  .blur_2,
  .blur_3,
  .blur_4,
  .blur_5,
  .blur_6,
  .blur_7,
  .blur_8,
  .blur_9,
  .blur_10,
  .blur_11,
  .blur_12,
  .blur_13 {
    position: absolute;
    border-radius: 500px;
    filter: blur(70px);
    z-index: 1;
  }

  .blob_1,
  .blob_2,
  .blob_3,
  .blob_4,
  .blob_5 {
    position: absolute;
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;

    .cover {
      width: 100%;
    }

    .nav_1 {
      margin-top: -279px;
      width: 390px;
      margin-left: 456px;
    }

    .nav_2 {
      margin-top: -330px;
      width: 390px;
      margin-left: 862px;
    }

    .nav_3 {
      margin-top: -506px;
      width: 470px;
      margin-left: 1082px;
    }

    .nav_4 {
      margin-top: -419px;
      width: 390px;
      margin-left: 1413px;
    }

    .menubar {
      z-index: 1;
      display: flex;
      justify-content: space-between;
      padding: 0px 40px;
      align-items: center;
      width: 100%;
      height: 58px;
      font-size: 18px;
      font-weight: 300;
      border-bottom: solid 1px var(--light);
      background-color: var(--white);

      a {
        margin-right: 10px;
        color: var(--black);
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: var(--pink);
        }
      }

      .media_logo {
        width: 30px;
      }
    }
  }

  .principles {
    .principles_tittle {
      position: relative;
      width: 100%;
      z-index: 2;
    }

    img {
      z-index: 2;
    }

    .information_bbe {
      margin-top: -110px;

      .button_information {
        width: 354px;
      }
    }

    .information_isolation {
      margin-top: 100px;

      .text_information {
        margin-left: 80px;
        margin-top: 250px;
      }
    }

    .information_udf {
      position: relative;
      margin-top: 200px;
    }

    .blur_1 {
      background-color: #79ff39;
      width: 400px;
      height: 400px;
      margin-left: 640px;
      margin-top: 90px;
    }

    .blur_2 {
      background-color: #3dffff;
      width: 800px;
      height: 800px;
      margin-left: -530px;
      margin-top: 190px;
    }

    .blur_3 {
      background-color: #ff0aa9;
      width: 1253px;
      height: 1253px;
      margin-left: 2650px;
      margin-top: -270px;
    }

    .blur_4 {
      background-color: #79ff39;
      width: 400px;
      height: 400px;
      margin-left: -1110px;
      margin-top: 460px;
    }

    .blur_5 {
      background-color: #3dffff;
      width: 400px;
      height: 400px;
      margin-left: -1730px;
      margin-top: 260px;
    }

    .blob_1 {
      margin-left: 1620px;
      margin-top: 470px;
      height: 500px;
    }
  }

  .features {
    img {
      z-index: 2;
    }

    .features_title {
      position: relative;
      width: 100%;
      margin-top: -130px;
      z-index: 2;
    }

    .skroll {
      margin-top: 190px;

      .button_information {
        background-color: #b9b9b9;
        pointer-events: none;
        cursor: default;
      }

      .blob_2 {
        margin-top: 410px;
      }
    }

    .slider {
      margin-top: 440px;

      .features_content_images {
        margin-left: -306px;
        margin-top: -402px;
      }
    }

    .menuburger {
      margin-top: 330px;
    }

    .select {
      margin-top: 180px;

      .blob_3 {
        margin-left: -1100px;
        margin-top: -340px;
      }
    }

    .blur_6 {
      background-color: #ff0aa9;
      width: 400px;
      height: 400px;
      margin-top: -10px;
    }

    .blur_7 {
      background-color: #79ff39;
      width: 700px;
      height: 700px;
      margin-top: 230px;
      margin-left: 1000px;
    }

    .blur_8 {
      background-color: #3dffff;
      width: 500px;
      height: 500px;
      margin-top: -70px;
      margin-left: -1620px;
    }

    .blur_9 {
      background-color: #ff0aa9;
      width: 500px;
      height: 500px;
      margin-left: 1180px;
      margin-top: -130px;
    }

    .blur_10 {
      background-color: #3dffff;
      width: 500px;
      height: 500px;
      margin-left: -1180px;
    }
  }

  .content_title {
    img {
      position: relative;
      z-index: 2;
      width: 100%;
    }

    .blur_11 {
      margin-top: 260px;
      background-color: #79ff39;
      width: 400px;
      height: 400px;
      margin-left: 240px;
    }
    .blur_12 {
      margin-top: 260px;
      background-color: #ff0aa9;
      width: 1000px;
      height: 1000px;
      margin-left: 1450px;
    }
  }

  .content {
    width: 1178px;
    margin: -170px auto;
    position: relative;
    z-index: 2;
  }

  #content {
    font-size: 20px;
    color: var(--dark);
    width: 660px;
    line-height: 145%;
  }

  .tutorial {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    h4 {
      margin-top: 12px;
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      width: 355px;
      margin-top: 6px;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: var(--dark);
    }

    figure {
      width: 578px;
      height: 300px;
    }
  }

  .about {
    img {
      position: relative;
      width: 100%;
      z-index: 2;
    }
    .about_text {
      width: 910px;
      margin: 0 auto;
    }

    .blur_13 {
      background-color: #3dffff;
      width: 600px;
      height: 600px;
      margin-left: 880px;
      margin-top: -60px;
    }
  }

  .footerbar a {
    width: 100%;
    height: 113px;
    margin-top: 200px;
    font-size: 18px;
    font-weight: 300;
    color: var(--light);
  }
}
