body.main {
  background: blue;
  font-family: 'Inter', Helvetica, Arial, sans-serif;

  figure {
    border: solid;
    width: 746px;
    height: 400px;
    border-radius: 10px;
    border-color: var(--light);
    background-image: url('images/test.png');
    &.url {
      width: 100%;
    }
  }

  section {
    border: solid;
    width: 746px;
    height: 400px;
    border-radius: 10px;
    border-color: var(--light);
  }
}
