<menu class="menubar hidden">
  <a class="scrollToButton" href="#top" id="logo"></a>

  <div class="menu_text">
    <a class="scrollToButton" href="#principles">Принципы</a>
    <a class="scrollToButton" href="#features">Фишки</a>
    <a class="scrollToButton" href="#components">Компоненты</a>
    <a class="scrollToButton" href="#about">О нас</a>
  </div>

  <div class="media">
    <a id="vk" href="https://vk.com/adc_code_tutorial" target="blank"></a>
    <a id="tg" href="https://t.me/adc_code_tutorial" target="blank"></a>
  </div>
</menu>
