<menu class="menubar">
  <a href="../index.html" id="logo">
    <!-- <img
      class="logo"
      srcset="
        ./src/images/general/Main/Logo-navigation-content-desktop.png,
        ./src/images/general/Main/Logo-navigation-content-desktop@2x.png 2x,
        ./src/images/general/Main/Logo-navigation-content-desktop@3x.png 3x
      "
      src="./src/images/general/Main/Logo-navigation-content-desktop.png"
      alt="логотип"
    /> -->
  </a>

  <div class="menu_text">
    <a href="../index.html#principles">Принципы</a>
    <a href="../index.html#features">Фишки</a>
    <a href="../index.html#components">Компоненты</a>
    <a href="../index.html#about">О нас</a>
  </div>

  <div class="media">
    <a id="vk" href="https://vk.com/adc_code_tutorial" target="blank">
      <!-- <img
        class="media_logo"
        srcset="
          ../../images/general/Main/VK-navigation-content-desktop.png,
          ../../images/general/Main/VK-navigation-content-desktop@2x.png 2x,
          ../../images/general/Main/VK-navigation-content-desktop@3x.png 3x
        "
        src="../../images/general/Main/VK-navigation-content-desktop.png"
        alt="вк"
      /> -->
    </a>
    <a id="tg" href="https://t.me/adc_code_tutorial" target="blank">
      <!-- <img
        class="media_logo"
        srcset="
          ../../images/general/Main/Telegram-navigation-content-desktop.png,
          ../../images/general/Main/Telegram-navigation-content-desktop@2x.png 2x,
          ../../images/general/Main/Telegram-navigation-content-desktop@3x.png 3x
        "
        src="../../images/general/Main/Telegram-navigation-content-desktop.png"
        alt="телеграм"
      /> -->
    </a>
  </div>
</menu>
