<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Учебник продвинутой веб-вёрстки</title>
<meta name="title" content="title" />
<meta name="description" content="initiation" />

<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="article" />
<meta property="og:title" content="title" />
<meta property="og:description" content="initiation" />
<meta property="og:image" content="articleCover" />
<meta property="og:url" content="https://codetutorial.adc.ac/" />
<meta property="og:site_name" content="ADC Code Tutorial" />
